* {
    font-family:"input-mono-narrow";
    font-style:normal;font-weight:400;font-stretch:normal;
    color: #AEC3B0;
    text-align: center;
    font-size: large;
}

select {
    color:#000000;
}

body {
    margin:0;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.7em;
    margin: 0px;
    padding-bottom: 5px;
}

.setting h2 {
    font-size: 1em;
}

h2 input {
    font-size: 1em;
}

h3{
    font-size: 1.5em;
    margin: 10px;
}

h4{
    font-size: 1.5em;
    margin: 7px;
}

h5 {
    font-size: 1.7em;
    padding-top: 15px;
    margin: 10px;
    color: #01161E;
}

h6 {
    font-size: 1.05em;
    padding: 0px;
    margin: 0px;
    color: #01161E;
    border-radius: 4px;
    font-style: italic;
    font-weight: bold;
    border: none;
}

h7 {
    font-size: 2em;
}

.main-container {
    display:flex;
}

.main-child {
    /*height: 95vh; */
}

.main-leftPanel{
    background-color: #AEC3B0;
    color: #01161E;
    order: 0;
    flex-grow: 0.7;
}

.main-rightPanel{
    background-color: #01161E;
    order: 1;
    flex-grow: 3;
    padding-top: 5px;
}

.im-container {
    display:flex;
}
.im {
    width: 33vw;
    height: 33vw;
}

.im2 {
    width: 15vw;
    height: 15vw;
}

.image_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    row-gap: 10px;
    column-gap: 20px;
    padding-top: 0px;
  }

#can1div {
    order: 0;
    flex-grow: 1;
}
#can2div {
    order: 1;
    flex-grow: 1;
}


#settings {
    padding-top: 0px;
}

#eq {
    padding-top: 20px;
    padding-bottom: 0px;
}

#buttons {
    padding-top: 20px;
    padding-bottom: 0;
    color: black;
}

#buttons button {
    width: 160px;
    height: 40px;
    margin-left: 5vw;
    margin-right: 5vw;
}

button {
    border-radius: 4px;
    font-style: italic;
    font-weight: bold;
    font-size: 1.05em;
    border: none;
}

button:active {
    box-shadow: 0 2px #222222;
    transform: translateY(4px);
}

button.button-categories {
    border:none;
    background-color: #EFF6E0;
    box-shadow: 0 3px #01161E;
    color: #01161E;
}
  
button.button-categories.active { 
  background-color:#84c3db;
}

.blue {
    background-color: #84c3db;
    border: none;
    box-shadow: 0 3px #01161E;
    color: #01161E;
  }
  
.blue:hover {
  background-color: #6492a3;
}

.red {
    background-color: #ff0058;
    border: none;
    box-shadow: 0 3px #101820;
    color: #01161E;
}

.red:hover {
    background-color: #ba0040;
}

.yellow {
    background-color: #F2AA4C;
    border: none;
    box-shadow: 0 3px #101820;
    color: #01161E;
}

.yellow:hover {
    background-color: #c2883c;
}

.cream {
    background-color: #EFF6E0;
    border: none;
    box-shadow: 0 3px #01161E;
    color: #01161E;
}
  
.cream:hover {
  background-color: #afb5a1;
}

.aber_wrapper {
    padding-top: 20px;
    width: 100%;
    height: 1em;
    color: #01161E;
}

.aber_sel {
    background-color: #8c9c8d;
    border-radius: 5px;
}

.aber {
    width: 65%;
    float: center;
    display: inline;
    font-size: 1em;
    padding: 10px;
    color: #01161E;

}
.aber sub {
    font-size: 0.8em;
    color: #01161E;
}
.aber input {
    font-size: 1em;
}
.aber_wrapper:hover .tooltiptext {
    visibility: visible;
}
.aber_wrapper .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #3e7487;
    color: #01161E;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.big_aber_wrapper {
    background-color: #AEC3B0;
}

input {
    border: none;
    background-color: #EFF6E0;
    color: #01161E;
    border-radius: 4px;
}

.input_right {
    border: none;
    background-color: #124559;
    border-radius: 4px;
    color: #AEC3B0;
}

.disable {
    background-color: #01161E;
    color: #AEC3B0;
    -webkit-text-fill-color: #AEC3B0;
}

.footer {
    left: 0;
    bottom: 0;
    padding: 5px;
    background: #3e7487;

}

.footer p {
    margin: 0;
    background: #124559; 
}

.kriv_not {
}

.haid_not {
}

.nodisp{
    display: none;
    color: #01161E;
}
.yesdisp{
    display: inline;
    color: #01161E;
}

.rounded {
    border-radius: 3%;
    background-position:center;
    width: 35.25vw;
    height: 35.25vw;
    border: 5px solid #AEC3B0;
}
  
.rounded2 {
    border-radius: 4%;
    background-position:center;
    width: 15.65vw;
    height: 15.65vw;
    border: 5px solid #AEC3B0;
}
  
.rounded3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 10px;
    border-radius: 25px;
    padding: 20px;
    width: 65.5vw;
    border: 3px solid #AEC3B0;
}

.button_holder_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 0px;
    column-gap: 0px;
    margin: 5px;
    padding: 0;

}

.button_holder {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    row-gap: 0px;
    column-gap: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    border: 3px solid #124559;
    background-color: #EFF6E0;
    padding: 5px;
}

.left_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;

}
  
  .right_column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    column-gap: 20px;
    padding-top: 0px;

  }



  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #567f8f;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 3px #01161E;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #01161E;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #84c3db;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 6px #01161E;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }










@import url("https://p.typekit.net/p.css?s=1&k=mtg1mgq&ht=tk&f=30497.30538.30539&a=109963572&app=typekit&e=css");

@font-face {
font-family:"input-mono";
src:url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"input-mono-narrow";
src:url("https://use.typekit.net/af/2b5bd5/00000000000000007735b119/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2b5bd5/00000000000000007735b119/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2b5bd5/00000000000000007735b119/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"input-mono-narrow";
src:url("https://use.typekit.net/af/41f034/00000000000000007735b11d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/41f034/00000000000000007735b11d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/41f034/00000000000000007735b11d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

.tk-input-mono { font-family: "input-mono",monospace; }
.tk-input-mono-narrow { font-family: "input-mono-narrow",monospace; }