* {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	background-color: #222222;
	text-align: center;
	font-size: large
}

h1 {
  font-weight: bold;
  font-style: italic;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 20px;
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h2 input{
  font-size: 1em;
}

body {
  margin:0;
}

#title {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

.im {
  width: 45vw;
  height: 45vw;
}

.im_rapper {
  padding-top: 1px;
}

#can1div {
  float:left; 
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

#settings {
  padding-top: 20px;
}

#eq {
  padding-top: 20px;
  width: 95vw;
}


#buttons {
  padding-top:20px;
  padding-bottom:0;
}

#buttons button {
  width: 160px;
  height: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
}

button {
  border-radius: 4px;
  font-style: italic;
  font-weight: bold;
  box-shadow: 0 6px #444444;
  border: none;
}

button:active {
  box-shadow: 0 2px #222222;
  transform: translateY(4px);
}

.blue {
    background-color: #009FCC;
    border: none;
}

.blue:hover {
  background-color: #00637F;
}


.red {
    background-color: #FF0058;
    border: none;
}

.red:hover {
  background-color: #BA0040;
}

.yellow {
    background-color: #FFC431;
    border: none;
  box-shadow: 0 3px #444444;
    color: #222222;
}

.yellow:hover {
  background-color: #B2871A;
}

#aberrations{
  padding-left: 5%;
  padding-right: 5%;
}

.aber_wrapper{
  padding-top:20px;
  width: 100%;
  height: 30px;
}

.aber_wrapper_head{
  margin-top:20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: #444444;
  vertical-align: middle;
  overflow: auto;
}

.aber_wrapper_head p{
  margin:0;
  padding: 0;
  background-color: #444444;
}

.aber_wrapper_head div{
  background-color: #444444;
}

.aber_list {
  width: 35%;
  float:left;
  text-align: right;
}

.alt_list {
  width: 15%;
  float:left;
  text-align: center;
  padding-left: 5%;
}
.aber {
  width: 35%;
  float:left;
  display: inline;
}

input {
  border:none;
  background-color: #555555;
  border-radius: 4px;
}

.footer {
  left:0;
  bottom:0;
  width:100%;
  padding: 10px;
  background:#111111;
  margin-top: 10px;
}

.footer p {
  margin: 0;
  padding: 0;
  background:#111111;
}


@media only screen  and (max-device-width: 512px) and (orientation: portrait) {
  .im{
    width: 80vw;
    height: 80vw;
  }
   #can1div { 
    float: none;
    padding-left: 0;
    padding-right: 0;
    border:0;
  }
   #can2div { 
    padding-top: 10px;
    padding-right: 0;
  }
}