* {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	background-color: #222222;
	text-align: center;
	font-size: large
}

h1 {
  font-style: italic;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 20px;
  font-size: 2.5em;
}

body {
  margin:0;
}

input{
  border:none;
  background-color: #555555;
  border-radius: 4px;
}

#eq {
	padding-top: 20px;
  width: 95vw;
}

#aber {
	padding-top:20px;
}

#buttons {
	padding-top:20px;
  padding-bottom:0;
}

button {
  border-radius: 4px;
  width: 160px;
  height: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.footer {
  left:0;
  bottom:0;
  width:100%;
  padding: 10px;
  background:#111111;
  margin-top: 10px;
}

.footer p {
  margin: 0;
  padding: 0;
  background:#111111;
}
.im{
	width: 45vw;
	height: 45vw;
}

.im_rapper{
  padding-top: 2.5vw;
}

#rand{
    background-color: #009FCC;
    border: none;
    color: #FFFFFF;
}

#calc{
    background-color: #FFC431;
    border: none;
    color: #222222;
}


#can1div {
  float:left; 
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}


@media screen and (max-aspect-ratio: 768px) {
  .im{
    width: 80vw;
    height: 80vw;
  }
   #can1div { 
    float: none;
    padding-left: 0;
    padding-right: 0;
    border:0;
  }
   #can2div { 
    padding-right: 0;
  }
}